@{
    ViewData["Title"] = "About Me";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="card" style="width:fit-content; height:fit-content; margin:auto; margin-bottom:20px; display:block;">
    <div style="text-align:center;">
        <div class="row" style="--bs-gutter-x:0; display:inline-flex;">
            <img class="img-circle" src="/files/me.jpeg" style="padding:0; height:128px; width:128px; margin:10px;"/>
            <div class="card-title" style="margin:20px; width:auto; align-content:center;">
                <h3>Hello! 👋</h3>
            </div>
        </div>
        <div class="card-body">
            <p>
                Welcome to my website! 
                <br />
                I built this website to learn more about ASP.NET and full-stack development.
                <br />
                It utilizes C#, HTML, CSS, JavaScript, RESTful APIs and more!
            </p>
        </div>
        <div class="row" style="display:block; margin:20px;">
            <a href="https://www.linkedin.com/in/tjgriff/" style="width:auto;">
                <img src="/files/LI-In-Bug.png" style="height:54px; width:63.5px;"/>
            </a>
            <a href="https://github.com/tgriff34" style="width:auto;">
                <img src="/files/github-mark.png" style="height:48px; width:48px;"/>
            </a>
        </div>
    </div>
</div>

<div class="text-center">
    <p><a href="/files/tristangriffin_resume.pdf" download="tristangriffin_resume">Download</a> Resume as a PDF or <a asp-controller="Home" asp-action="Resume">View</a></p>
</div>

<div class="card" style="width:fit-content; height:fit-content; margin:auto; display:block;">
    <img src="/files/tristangriffin_resume.png" style="width:auto; height:auto;" />
</div>

