@{
    ViewData["Title"] = "About Me";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="card aboutCard expandCard">
    <div style="text-align:center;">
        <div class="row" style="--bs-gutter-x:0; display:inline-flex;">
            <img class="img-circle" src="/files/IMG_5189.JPEG" style="object-position: 0 0; padding:0; height:128px; width:128px; margin:10px;"/>
            <div class="card-title" style="margin:20px; width:auto; align-content:center;">
                <h3>Hello! 👋</h3>
            </div>
        </div>
        <h5>
            Welcome to my website! 
        </h5>
        <div class="card-body" style="text-align: left; max-width:inherit;">
            <p>
                My name is Tristan and I'm a Software Engineer! 
                I'm also an avid cyclist and when I saw that Strava, (popular athletic app to share rides/runs/swims) had an API available for developers, I had to give it a shot at making something for myself.  
                Typically, in order to view a Strava profile you must have an account yourself.  
                Using the API circumnavigates this restriction as I can pull my data and display it on my very own website which I've done here!
                <br/>
                <br/>
                I built this website to learn more about ASP.NET and full-stack development.
                It uses the ASP.NET Core framework utilizing the MVC design pattern 
                and is written in C#, HTML, CSS, JavaScript, RESTful APIs, SQL, and more!
                <br/>
                <br/>
                I hosted this website using Microsoft Azure, it allowed for easy secrets management using
                Azure Key Vault and fast way to deploy changes to a production environment.
                <br/>
                <br/>
                On this page you can view or download my Resume, and if you navigate to 'My Strava'
                from the navigation bar you can view my most recent cycling rides!  The Strava data
                is pulled using the Strava API and is deserialized into objects using the Newtonsoft.json Nuget package.
            </p>
        </div>
       @*  <div class="row" style="display:block; margin:20px;">
            <a href="https://www.linkedin.com/in/tjgriff/" style="width:auto;">
                <img src="/files/LI-In-Bug.png" style="height:54px; width:63.5px;"/>
            </a>
            <a href="https://github.com/tgriff34" style="width:auto;">
                <img src="/files/github-mark.png" style="height:48px; width:48px;"/>
            </a>
        </div> *@
    </div>
</div>

<div class="text-center">
    <p><a href="/files/tristangriffin_resume_copy.pdf" download="tristangriffin_resume">Download</a> Resume as a PDF or <a asp-controller="Home" asp-action="Resume">View</a></p>
</div>

<div class="card" style="width:fit-content; height:fit-content; margin:auto; display:block;">
    <img src="/files/tristangriffin_resume_copy.png" style="width:auto; height:auto;" />
</div>

