@{
    ViewData["Title"] = "Portfolio";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="card aboutCard expandCard">

    <div style="text-align:center">

        <div class="card-title" style="margin-top:20px">
            <h1>Welcome to my portfolio!</h1>
        </div>

        <div class="card-body" style="text-align:left; max-width:inherit;">
            <p>
                <div class="text-center">
                    <h5>
                    These are just some of the projects I have written in my free time. All of the source code is hosted on Github and more indepth READMEs are available there.
                    </h5>
                </div>
            </p>

            <p>
                <br/>
                <h3>Senior project</h3>
                My senior project for my degree from the University of North Carolina at Charlotte is a native Android application which allows users to create albums from their photos
                and plots them on a Google map.
                <br/>
                <br/>
                I used Google Firebase as the backend so users would create accounts and share their photo albums.  There are a lot of options from favoriting albums, making albums private or public,
                editing albums, searching, and viewing on the Google map.
                <br/>
                <br/>
                More images and source code can be viewed on my Github <a href="https://github.com/tgriff34/SeniorProject">here!</a>
                <br/>
                <br/>
                <p align="center">
                    <img src="/files/Map_View.png" style="width:40%; height: 40%;"/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <img src="/files/White_Theme.png" style="width:40%; height:40%;"/>
                </p>

                <br/>
                <br/>
                <br/>
                <h3>RedGreenBlue</h3>
                RedGreenBlue is a native iOS application I developed which works with Philips Hue lights (<a href="https://www.philips-hue.com/en-us">https://www.philips-hue.com/en-us</a>).
                The application allows the user to create what are called 'Dynamic Scenes', allowing the lights to be change colors automatically without user interaction! 
                Users can pick which colors they want, the time interval between color changes, and more.
                <br/>
                <br/>
                More images, source code, and futher breakdown of the application can be viewed on my Github <a href="https://github.com/tgriff34/RedGreenBlue">here!</a>

                <p align="center">
                    <img src="/files/home.png" style="width:40%; height: 40%;"/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <img src="/files/group.png" style="width:40%; height:40%;"/>
                </p>
                <br/>
                <br/>
                <p align="center">
                    <img src="/files/picker.png" style="width:40%; height: 40%;"/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <img src="/files/dynamic.png" style="width:40%; height:40%;"/>
                </p>
                <br/>
                <br/>
                <p align="center">
                    <img src="/files/custom.png" style="width:40%; height: 40%;"/>
                </p>

                <br/>
                <br/>
                <br/>

                <h3>This website!</h3>
                This website is my newest development that I have worked on in my free time!
                <br/>
                You can read more and view the source code on my Github <a href="https://github.com/tgriff34/TristanWebsite">here!</a>
                <br/>
                <br/>

                <div class="text-center">
                    <h3>Thank you for taking the time to view my portfolio!</h3>
                </div>
            </p>
        </div>

    </div>

</div>
